@model SiMed.Models.Agendamento

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Agendamento</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Medico.CRM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Medico.CRM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pessoa.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pessoa.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DhAgendamento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DhAgendamento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Situacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Situacao)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdAgendamento }) |
    @Html.ActionLink("Back to List", "Index")
</p>
