@model IEnumerable<SiMed.Models.Agendamento>

@{
    ViewBag.Title = "Index";
}

<h2>Agendamentos</h2>

<p>
    @Html.ActionLink("Novo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Medico)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pessoa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Data)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hora)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Situacao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Classificacao)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Medico.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pessoa.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Data)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Hora)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Situacao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Classificacao)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.IdAgendamento }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.IdAgendamento }) |
            @Html.ActionLink("Deletar", "Delete", new { id=item.IdAgendamento })
        </td>
    </tr>
}

</table>
