@model SiMed.Models.Medico

@{
    ViewBag.Title = "Delete";
}

<h2>Excluir Médico</h2>

<h3>Deseja realmente deletar?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Cidade
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cidade.Nome)
        </dd>

        <dt>
            Especialidade
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Especialidade.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CRM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CRM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Endereco)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Endereco)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bairro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bairro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            Atende por Convenio
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AtendePorConvenio)
        </dd>

        <dt>
            Tem Clinica
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TemClinica)
        </dd>

        <dt>
            Website/Blog
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WebsiteBlog)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Deletar" class="btn btn-default" /> |
            @Html.ActionLink("Voltar", "Index")
        </div>
    }
</div>
