@model IEnumerable<SiMed.Models.Disponibilidade>

@{
    ViewBag.Title = "Index";
}

<h2>Disponibilidade</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Medico.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InicioTurno1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FimTurno1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InicioTurno2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FimTurno2)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Medico.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InicioTurno1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FimTurno1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InicioTurno2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FimTurno2)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new {  id=item.IDDisponibilidade  }) |
            @Html.ActionLink("Details", "Details", new {  id=item.IDDisponibilidade }) |
            @Html.ActionLink("Delete", "Delete", new {  id=item.IDDisponibilidade })
        </td>
    </tr>
}

</table>
